body{
    background:linear-gradient(rgb(0, 0, 0),rgb(2, 41, 2),rgb(3, 66, 3),rgb(8, 117, 8),green);
    display:inline-block;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;

}
.signIn{
    position:fixed;
    top:40%;
    left:40%;
    width:300px;
    height:300px;
    padding-left:50px;
    background-color:rgb(39, 36, 36);
    color:white;
}
.login-value{
    margin-top:20px;
    
}
.sign-in{
    background-color:green;
    border:none;
    color:white;
    padding:5px;
    border-radius:10px;
}
.sign-in:hover{
    background-color:rgb(14, 99, 14);
}
.logged{
    color:green;
}
.square{
    display:inline-block;
    width:70px;
    height:70px;
    margin:0.5px;
    background-color:black;
    
}
.square:hover{
    background-color:rgb(15, 255, 15);
}
