body{
    background-color:rgb(173, 158, 158);

}
.signIn{
    position:fixed;
    top:30%;
    left:40%;
    width:300px;
    height:auto;
    padding-left:50px;
    background-color:rgb(39, 36, 36);
    color:white;
}
.login-value{
    margin-bottom:40px;
    width:200px;
    margin-left:30px;
    border:none;
    border-bottom:2px solid white;
    background-color:transparent;
    font-size:15px;
    color:white;
    padding:0px;
}
.formIdentifier{
    margin-top:30px;
    margin-left:40px;
    margin-bottom:40px;
    font-size: 50px;
}
.sign-in{
    background-color:green;
    border:none;
    color:white;
    padding:5px;
    margin-top:20px;

    border-radius:10px;
}
.sign-in:hover{
    background-color:rgb(14, 99, 14);
}

.logged{
    color:green;
}
.square{
    display:inline-block;
    width:70px;
    height:70px;
    margin:0.5px;
    background-color:black;
    
}
.square:hover{
    background-color:rgb(15, 255, 15);
}
