body{
    background-color:hsla(0, 11%, 80%, 0.322);
   

}
.all{
    overflow: hidden;
}

.navBar{
    position:fixed;
    display:grid;
    align-items: center;
    top:0px;
    border-radius:30px;
    width:100%;
    height:60px;
    background-color:rgb(121, 211, 238);
}
.navigation{
    position:absolute;
    display:inline-block;
    right:0px;
    width:33%;
    height:60px;
    background-color:transparent;
}
.companyName{
    position:absolute;
    left:33%;
    width:34%;
    height:60px;
    background-color:transparent;
}
.profile{
    position:relative;
    width:33%;
    height:60px;
    background-color:transparent;
}
.profile-picture{
    position: relative;
    display:inline-block;
    background-color:black;
    width:60px;
    height:60px;
    border-radius:50%;
}
.user-name{
    position:absolute;
    left:70px;
    top:20px;
}
.nav{
    list-style-type: none;
    margin-top:15px;
    margin-left:20px;
    width:20px;
    padding:6px;
    font-size: large;
    background-color:transparent;
    border:none;
}
.nav a{
    list-style-type: none;
    text-decoration: none;
    color:white;
}
.nav:hover{
    background-color:gray;
    border-radius:20px;
}
.container{
    width:100%;
    height:auto;
    margin-top:80px;
}

.display{
    width:23%;
    transition:1s;
    height:100%;
    background-color:black;
    position:fixed;
    right:0px;
    top:60px;
}
.displied{
    width:40%;
    transition:1s;
}
.product{
    display:inline-block;
    transition:1s;
    width:25%;
    height:400px;
    margin:0px;
    background-color:white;
    overflow: hidden;
    border:1px solid white;
}
.product button{
    background-color:gold;
    border:none;
    color:white;
    width:max-content;
    height:30px;
    margin-left:40px;
    padding-left:30px;
    padding-right:30px;
    border-radius:20px;
}
.product button:hover{
    background-color:rgb(212, 182, 7);
}
.lookAt{
    position:fixed;
    transition:1s;
    top:30%;
    left:20%;
    transform:scale(1.5);
    filter:none;
    width:30%;
    height:50%;
    box-shadow: 10px 10px 30px black;
    

}
.item-image{
    width:100%;
    height:50%;
    background-color:white;
}
.fully{
    height:10%;
}
.car-image{
    width:100%;
    height:100%
}
.product-name{
    font-size:20px;
    margin-top:5px;
    margin-left:5px;
    background-color:transparent;
}
.sale-discription{
    width:100%;
    height:50%;
    background-color:transparent;
}
.discription{
    background-color:transparent;
    margin-top:10px;
    width:100%;
    height:50%;
    padding:5px;
}
.price{
    height:max-content;
    width:max-content;
    margin-left:24px;
    margin-top:10px;
    font-size: larger;
    background-color:transparent;
    color:red;
}
.setting{
    width:40px;
    font-size: larger;
    position:absolute;
    right:10px;
    bottom:15px;
    border:none;
    color:black;
    background-color:transparent;

}
.setting:hover{
    background-color:gray;
}
.setting-panel{
    position:fixed;
    top:60px;
    right:30px;
    width:300px;
    height:max-content;
    background-color:transparent;
    border-radius:10px;
    display:grid;
    opacity:0.75;
    border-radius:10px;
    overflow: hidden;
}

.setting-panel button{
    width:100%;
    height:40px;
    border:0.1px solid black;
    border-left:none;
    background-color:rgba(124, 122, 122, 0.87);
    border-right:none;
    font:larger;

}
.setting-panel button:hover{
    background-color:rgba(87, 85, 85, 0.87);
    transform:scale(1.5);
}
.setting-panel a button{
    text-decoration: none;
    color:white;
}