body{
    background-color:black;
}
.backButton{
    position:absolute;
    top:20px;
    left:30px;
    width:80px;
    height:60px;
    font-size: larger;
    color:white;
    background-color:transparent;
    border:none;
    border-bottom:3px solid rgb(114, 102, 102);
}
.backButton:hover{
    background-color:rgb(32, 32, 32);
}
.panels{
    position:fixed;
    display:grid;
    top:100px;
    left:30px;
    width:20%;
    height:70%;
    background-color:transparent;

}
.panels button{
    width:100%;
    font-size: 30px;
    color:white;
    text-align: left;
    border:none;
    border-right:3px solid rgb(141, 127, 127);
    background-color:transparent;
    transition:0.5s;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.panels button:hover{
    width:110%;
  
}
.container{
    position:fixed;
    top:0px;
    right:0px;
    width:70%;
    height:100%;
}
.editProfile{
    position:absolute;
    width:70%;
    height:90%;
    left:2%;
    top:70px;
}
.opratiionContainer{
    position:absolute;
    top:20px;
    display:grid;
    width:30%;
    height:30%;
}
.opratiionContainer button{
    background-color:rgba(255,255,255,0.2);
    color:white;
    border:none;
    transition:1s;
}
.opratiionContainer button:hover{
    transform:scale(1.1);
}
.oprationField{
    position:absolute;
    right:0px;
    width:70%;
    height:100%;
}
.passwordChange{
    position:grid;
    align-items: center;
    width:200px;
    height:500px;
    margin-left:50px;
}
.passwordChange input{
    border:none;
    border-bottom:3px solid rgb(126, 122, 122);
    background-color:transparent;
    margin-top:40px;
    margin-left:20px;
    color:white;

}
.passwordChange button{
    width:150px;
    height:50px;
    margin-left:20px;
    margin-top:40px;
    color:white;
    border:none;
    border-radius:10px;
    background-color:green;
}
.passwordChange button:hover{
    background-color:rgb(31, 202, 31);
}

