body{
    background-color:rgb(211, 186, 186);
    display:grid;
    align-items: center;
    justify-content: center;
}
.home-logo{
    position:fixed;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.signIn{
    width:300px;
    height:420px;
    margin-top:50%;
    padding-left:50px;
    background-color:rgb(39, 36, 36);
    border-radius:20px;
    color:white;
    box-shadow: 10px 10px 10px rgb(119, 96, 96);
}
.formIdentifier{
    font:caption;
    font-family:serif;
    font-size: 50px;
    margin-left:50px;
    margin-top:30px;
}
.login-value{
    border:none;
    border-bottom:2px solid white;
    background-color:transparent;
    width:250px;
    margin-top:50px;
    font-size: large;
    
}
.sign-up{
    max-width:80px;
    margin-left:190px;
    margin-top:-40px;
}
.forgot{
    margin-top:30px;

}
.sign-in{
    background-color:green;
    border:none;
    color:white;
    padding:5px;
    border-radius:10px;
}
.sign-in:hover{
    background-color:rgb(14, 99, 14);
}
.logged{
    color:green;
}
.square{
    display:inline-block;
    width:70px;
    height:70px;
    margin:0.5px;
    background-color:black;
    
}